{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
<style>
.hr{ 
  display: block;
  margin-left:200px;
  margin-right: 200px;
  border-style: inset;
  border-width: 1px;
} 
footer{
  /* position: fixed; */
  background-color:transparent;
  left: 0;
  bottom: 0;
  width: 100%;
  color:rgb(8, 8, 8);
  text-align: center;
  font-size: 10px;
}
</style>
<body>
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4" style="border-style: ridge; margin-top: 130px;">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default" >

        <div class="panel-heading">
          <h3 class="text-center" style="font-family: 'Mansalva', cursive;color:black;">Instagram</h3>
        </div><br>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{% url 'profile' %}">

          </form>

        </div>
        <div>
          <p>Don't have an account? <a href="/accounts/register/">Sign up</a></p> Forgot <a href="/accounts/password/change">Password</a>
        </div>
      </div><br>
      <a href="https://play.google.com/store/apps?hl=en"><img src="/static/images/android.png" style="width: 150px; height: 50px;"></a>
      <a href="https://apps.apple.com/app/instagram/id389801252?vt=lo"><img src="/static/images/1_POlwgD8liUYUqiEU6IU1Pw.png" style="width: 150px; height: 50px;"></a><br><br><br>
    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div><br><br><br>
<div>
    <footer>
        <hr class="hr">
        <p>@2019 by ____ProDevloper.Proudly Created</p>
    </footer>
</div>
</body>
</html>
{% endblock %}